
Aufgabe04/startseite.html
Aufgabe04/style.css
Aufgabe05/data.js
Aufgabe05/data.js.map
Aufgabe05/data.ts
Aufgabe05/script.js
Aufgabe05/script.js.map
Aufgabe05/script.ts
Aufgabe04/startseite.html
Aufgabe04/style.css
Aufgabe06/data.ts
